# Dipendenze
vendor/
composer.lock

# Configurazione locale (MAI caricare il .env reale)
.env

# File generati da Docker
docker-compose.yml
!docker-compose.yml.template

# Storage: Ignora tutto il contenuto ma mantieni le cartelle
storage/cache/*
storage/logs/*
storage/sessions/*
!storage/cache/.gitkeep
!storage/logs/.gitkeep
!storage/sessions/.gitkeep

# File di sistema e IDE
.idea/
.vscode/
.DS_Store